<ng-container *ngIf="view$ | async as view">
<div class="card">
  <div class="card-header">
    {{view.pageTitle}}
  </div>

  <div class='card-body'>
    <div class='list-group'>
      <button type='button'
              class='list-group-item'
              *ngFor='let product of view.products'
              [ngClass]="product.ngClass"
              (click)='selectProduct(product.id)'>
        {{ product.name }} ({{ product.category }})
      </button>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="view.error">
  {{view.error}}
</div>
</ng-container>
